.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    display: block;


    &--primary {
        color: #0e0e0e;
        background-color: #0dff00;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}

